.information_todo_delete {
    display: flex;
}
.information_todo_delete img {
    width:40px;
}
.information_todo_delete p {
    font-size: 18px;
}
.information_todo_done {
    display: flex;
}
.information_todo_done img{
    width:40px;
}
.information_todo_done p {
    font-size: 18px;
}
.information_todo_attention{
    display: flex;
}
.information_todo_attention img{
    width:40px;
}
.information_todo_attention p {
    font-size: 18px;
}