.app_header{
  text-align: center;
  padding: 10px;
}

.app_header_done {
   color: rgb(196, 162, 162);
   font-size: 18px;
   text-align: left;
  }
  .app_counts{
    display: flex;
    margin: 10px;
  }
  .app_counts button{
    margin: 5px;
  }
